.compButton {
   height: 50px;
   font-size: 25px;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   background-color: wheat;
   border: none;
   margin-left: 10px;
}

.compButton:hover {
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.compButton:active {
   background-color: #ad9c7e;
}